.wrapper {
  position: relative;
  z-index: 25;
  top: -6px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 1rem;
}

@media (min-width: 768px) {
  .wrapper {
    top: -11px;
    justify-content: none;
    margin-top: 0;
  }
}

.sortOrder {
  transition: 0.2s all ease;
  transform-origin: center center;
  padding: 10px 0 8px 8px;
}

.sortOrder > i {
  font-size: 18px;
  transform: rotate(90deg);
}

.sortOrder:hover {
  cursor: pointer;
  transform: scale(1.1);
}
