/* body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
    'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
} */

/*****************************
******************* VARIABLES
*****************************/

/* colors */

:root {
  --black: #373737;
}

/* fonts */

:root {
  --header-font-stack: 'Open Sans', sans-serif;
  --paragraph-font-stack: 'Lora', serif;
}

/*****************************
********************* GENERAL
*****************************/

.clearfix::after {
  content: '';
  clear: both;
  display: table;
}

body {
  color: var(--black);
  background: #f6f6f6;
}

html {
  height: 100%;
  margin: 0;
  overflow: hidden;
}

*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

/*****************************
*********** GLOBAL ANIMATIONS
*****************************/

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.book__item {
  animation: fadein 0.3s linear;
  transition: 0.3s all linear;
}

.book__image:hover {
  cursor: pointer;
}

div.menu.transition > div[role='option'] > span.text {
  font-size: 12px !important;
}

div[role='listbox'].ui.active.visible > div.menu.transition > div[role='option'] {
  padding-top: 9px !important;
  padding-bottom: 9px !important;
}
