.wrapper {
  position: relative;
  width: 100%;
  overflow: hidden;
  border-top: 4px solid #333;
  border-bottom: 4px solid #aaa;
}

.heading {
  text-align: center;
  padding: 14px;
}

.heading:hover {
  cursor: pointer;
}

.heading > h3 {
  color: white;
  letter-spacing: 4px;
  text-transform: uppercase;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.heading__icon {
  -webkit-transition: 0.3s all ease;
  transition: 0.3s all ease;
}

.flip {
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
}

.description__wrapper {
  padding: 24px 0;
}

.description__backdrop {
  position: absolute;
  z-index: -3;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: black;
  opacity: 0.5;
}
