.logo__icon {
  color: var(--black);
}

.logo__text {
  font-family: 'Lora', serif;
  font-size: 30px;
  margin-left: 12px;
  letter-spacing: 3px;
  text-transform: uppercase;
}

.logo__text_weird {
  color: var(--black);
}

.logo__text_lit {
  color: #acacac;
}

.menu__item-link {
  color: #373737;
}