.landing {
  animation: fadein 0.8s linear;
}

.landing__container {
  /* background-color: yellow; */
  /* opacity: 0.4; */
  height: 100vh;
}

.landing__content {
  margin: auto 0;
  display: flex;
  height: 100vh;
  align-items: center;
  /* background: orange; */
}

.landing__content-inner {
  width: 100%;
}

.landing__content-search {
  margin: 0 auto;
  padding: 24px 0;
  max-width: 420px;
}

.landing__content-logo {
  width: 100%;
  text-align: center;
}

.landing__content-logo-text {
  font-family: 'Lora', serif;
  font-size: 48px;
  letter-spacing: 10px;
  text-transform: uppercase;
  animation: join 28s ease-in-out;
  padding-right: -30px;
}

@keyframes join {
  from {
    letter-spacing: 28px;
  }
  to {
    letter-spacing: 10px;
  }
}

.text__weird {
  color: var(--black);
}

.text__lit {
  color: #acacac;
}

.text__lit::after {
  content: 't';
  letter-spacing: 0;
}

.background__animation {
  top: 0;
  left: 0;
  position: absolute;
  width: 100vw;
  height: 100vh;
  overflow: visible;
  z-index: -5;
  background-image: url('./../../../img/tentacles-351095-2.png');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
  transform-origin: center center;
  animation: spin 400s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg) scale(1);
  }
  50% {
    transform: rotate(-180deg) scale(1.5);
  }
  100% {
    transform: rotate(-360deg) scale(1);
  }
}
