.review__image {
  display: block;
}

.last__updated {
  color: #ccc;
  float: left;
}

.show__toggle {
  color: #5f95cd;
  float: right;
  border: none;
  background: transparent;
}

.show__toggle:hover {
  color: #4585c8;
  cursor: pointer;
}
