.wrapper {
  width: 50%;
  margin-bottom: 18px;
}

@media (min-width: 540px) {
  .wrapper {
    width: 33%;
  }
}

@media (min-width: 768px) {
  .wrapper {
    width: 25%;
  }
}

.imageWrapper {
  width: 100%;
  padding: 0 8%;
  text-align: center;
  margin-bottom: 8px;
}

.inlineBlockLink {
  display: inline-block;
}

.uiSmallImage {
  display: inline-block;
}

.title {
  text-align: center;
  margin-bottom: 0;
}

.rating {
  padding: 0 auto;
}

.authors {
  text-align: center;
}

.publishedDate {
  text-align: center;
  color: grey;
}

.viewButton {
  margin-top: 8px;
  text-align: center;
}
