.featuredSegment {
  /* padding: 0 !important; */
  overflow: hidden;
}

@media (min-width: 768px) {
  .tableRow {
    display: table-row;
  }
  .tableCell {
    display: table-cell;
  }
  .otherSegment {
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: distribute;
    justify-content: space-around;
  }
}
