.wrapper {
  text-align: center;
}

.tag {
  display: inline-block;
  margin: 0 6px 6px 0 !important;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.enabled:hover {
  cursor: pointer;
}
