.tag {
  display: inline-block;
  margin-right: 4px !important;
  margin-bottom: 4px !important;
  user-select: none;
  text-shadow: none;
  box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.5);
}

.tag:hover {
  cursor: pointer;
}
