.book-image {
  display: block;
}

.last-updated {
  color: #ccc;
  float: left;
}

.show__toggle {
  color: #5f95cd;
  float: right;
  border: none;
  background: transparent;
}

.show__toggle:hover {
  color: #4585c8;
  cursor: pointer;
}

.bottomLinks {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.postedDate {
  display: block;
  padding-bottom: 4px;
}
