.wrapper {
  width: 100%;
  margin-top: -14px;
  padding-top: 10px;
  background: white;
}

.topWrapper {
  position: relative;
  z-index: 45;
  width: 100%;
  padding-top: 0;
  padding-bottom: 6px;
}

@media (min-width: 768px) {
  .tableRow {
    display: table-row;
  }
  .tableCell {
    display: table-cell;
  }
}

.bottomWrapper {
  width: 100%;
  /* background: yellow; */
  margin-bottom: 16px;
  padding-bottom: 14px;
  border-bottom: 1px solid #dededf;
  z-index: 700;
}

.selectedTagsWrapper {
  margin-top: 8px;
  text-align: center;
}

@media (min-width: 768px) {
  .selectedTagsWrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    height: 100%;
    text-align: left;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin: auto 0;
  }
}

.tag {
  margin: 3px !important;
  display: inline-block;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  letter-spacing: 0;
}

.tagButton:hover {
  cursor: pointer;
}

.toggleIcon {
  display: inline-block;
  padding: 0 4px 0 8px;
  -webkit-transition: 0.2s all ease;
  transition: 0.2s all ease;
  -webkit-transform-origin: center center;
  transform-origin: center center;
  margin-top: 0;
}

.toggleIcon:hover {
  cursor: pointer;
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

.sortByWrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

@media (min-width: 768px) {
  .sortByWrapper {
    margin: auto 0;
  }
}
