.wrapper {
  position: relative;
  margin-top: -15px;
  margin-bottom: 12px;
  width: 100%;
  overflow: hidden;
}

.backdrop__cover {
  position: absolute;
  z-index: -5;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: black;
  opacity: 0.5;
}

.backdrop {
  position: absolute;
  z-index: -10;
  top: 0;
  left: 0;
  background-size: 100%;
  background-position: center center;
  background-attachment: fixed;
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
  -webkit-filter: blur(20px);
  filter: blur(20px);
  width: 100%;
  height: 100%;
}

.container {
  min-height: 400px;
}

.content__wrapper {
  display: block;
  position: relative;
  width: 100%;
  min-height: 400px;
}

@media (min-width: 468px) {
  .content__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
    justify-content: space-around;
  }
}

.edit__button {
  position: absolute !important;
  z-index: 88;
  right: 16px;
  top: 16px;
}

.image {
  width: 100%;
  height: 300px;
  margin-top: 2rem;
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
  -webkit-filter: drop-shadow(0 0 24px rgba(1, 1, 1, 0.75));
  filter: drop-shadow(0 0 24px rgba(1, 1, 1, 0.75));
}

@media (min-width: 468px) {
  .image {
    width: 200px;
    min-height: 400px;
    height: auto;
    margin-top: 0;
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
    -webkit-filter: drop-shadow(0 0 24px rgba(1, 1, 1, 0.75));
    filter: drop-shadow(0 0 24px rgba(1, 1, 1, 0.75));
  }
}

.info__wrapper {
  width: 100%;
  padding: 24px 12px;
  display: block;
}

@media (min-width: 468px) {
  .info__wrapper {
    width: 70%;
    min-height: 400px;
    padding: 75px 24px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
}

.info {
  text-shadow: 0 0 16px rgba(0, 0, 0, 0.67);
  text-align: center;
}

@media (min-width: 768px) {
  .info {
    text-align: left;
  }
}

.info__heading {
  margin-bottom: 1rem;
}

.info__book-title {
  font-size: 42px;
  line-height: 44px;
  margin-bottom: 8px;
  color: #fff;
}

.info__book-subtitle {
  font-size: 18px;
  line-height: 20px;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: #fff;
}

.info__authors {
  font-size: 18px;
  line-height: 20px;
  margin-bottom: 12px;
}

.info__published-date {
  font-size: 18px;
  line-height: 18px;
  color: #bbb;
  margin-bottom: 12px;
}

.info__tags {
  margin: 16px auto 8px;
  max-width: 260px;
}

@media (min-width: 768px) {
  .info__tags {
    margin: 16px 0 8px;
  }
}

.amazonIcon {
  /* background: #f7f5f1 !important; */
  /* color: #4d4022 !important; */
  display: inline-block;
}

.amazonIcon > i {
  /* font-size: 28px !important; */
  position: relative;
  /* top: 6px; */
  /* left: -5px; */
}

.goodreadsIcon {
  /* background: #f7f5f1 !important; */
  /* color: #4d4022 !important; */
  display: inline-block;
}

.goodreadsIcon > i {
  /* font-size: 28px !important; */
  position: relative;
  /* top: 6px; */
  /* left: -5px; */
}
