.deleted {
  -webkit-transition: 0.4s opacity ease !important;
  transition: 0.4s opacity ease !important;
  opacity: 0;
}

.content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.buttons {
  float: right;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding-left: 24px;
}

.view__button {
  display: block;
}

.close__button {
  display: block;
  font-size: 20px !important;
  margin-left: 12px !important;
  margin-right: -4px !important;
}

.close__button:hover {
  cursor: pointer;
}
